In [1]:
import pandas as pd

Reading titanic data set

In [2]:
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [44]:
#let's store data of names in a series
#0 theke 9 chai
s=df['Name'][0:10]

In [45]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [46]:
#So we want to provide our own index
#create a list
l=['a','b','c','d','e','f','g','h','i','j']
#call the series :
pd.Series(s,index=l)

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

In [47]:
#NaN er bodol e proper name chai :
#So we want to provide our own index
#create a list
l=['a','b','c','d','e','f','g','h','i','j']
#call the series :
pd.Series(list(s),index=l)

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [48]:
s1=s
s2=s

In [49]:
#let's use append:
s1=s1.append(s2)

<ipython-input-49-0bb62891cfdf>:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1=s1.append(s2)

In [50]:
s1

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [51]:
#let's take:
s1[4]

4    Allen, Mr. William Henry
4    Allen, Mr. William Henry
Name: Name, dtype: object

In [52]:
#eta kintu default index nichhe
s1[0:6]

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
Name: Name, dtype: object

In [57]:
s3=s[0:5]
s4=s[3:8]
print("s3:")
print(s3)
print("s4:")
print(s4)

s3:
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object
s4:
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                        Allen, Mr. William Henry
5                                Moran, Mr. James
6                         McCarthy, Mr. Timothy J
7                  Palsson, Master. Gosta Leonard
Name: Name, dtype: object

In [60]:
## Convert string elements to numeric values
s3=pd.to_numeric(s3,errors='coerce')
s4=pd.to_numeric(s4,errors='coerce')

In [61]:
s3

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Name, dtype: float64

In [62]:
s4

3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
Name: Name, dtype: float64

In [63]:
#now see s3 multiplication with s4:
# je gulo match korbe seta debe
#jeta match korbe na tate NaN debe
result = s3 * s4
print("Result:")
print(result)

Result:
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
Name: Name, dtype: float64

In [35]:
#Solution:

l = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
s = pd.Series(l, index=l)

In [36]:
s

a    a
b    b
c    c
d    d
e    e
f    f
g    g
h    h
i    i
j    j
dtype: object

In [37]:
s3 = s[0:5]
s4 = s[0:5]

In [38]:
# Convert string elements to numeric values
s3_numeric = pd.to_numeric(s3, errors='coerce')
s4_numeric = pd.to_numeric(s4, errors='coerce')

In [39]:
s3_numeric

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [40]:
s4_numeric

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [41]:
# Perform element-wise multiplication
result = s3_numeric * s4_numeric

In [43]:
#print the result
print("Result:")
print(result)

Result:
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [64]:
#let's take another example:

s11=pd.Series([3,4,5,6,6] , index = [2,4,5,6,1])
s12=pd.Series([34,345,45,45,454] , index = [9,4,5,6,7])

In [65]:
s13=s11.append(s12)

<ipython-input-65-22b2f062aa59>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s13=s11.append(s12)

In [66]:
s13

2      3
4      4
5      5
6      6
1      6
9     34
4    345
5     45
6     45
7    454
dtype: int64

In [67]:
s11

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [68]:
s12

9     34
4    345
5     45
6     45
7    454
dtype: int64

In [70]:
#index available thakle talei hobe
#ar eta khali integer er jonno e hobe
s11*s12

1       NaN
2       NaN
4    1380.0
5     225.0
6     270.0
7       NaN
9       NaN
dtype: float64